@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.section-title {
  /* text-shadow: 2px 1px grey; */
  font-weight: bold;
}

.flex-column {
  max-width: 260px;
}

.img {
  margin: 5px;
}

.logo img {
  margin-top: 150px;
  margin-bottom: 40px;
  width: 70%;
  opacity: 1;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 128, 0, 0.2)),
    url(../img/1.jpg);
  /* background-image: url(../img/1.jpg); */
  /* filter: brightness(70%); */
  height: 80vh;
  background-position: center;
  background-size: cover;
}

.header2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/2.jpg);
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.menu-margin {
  margin: 10px;
  border-radius: 10px;
}
.navbar {
  background-color: #fa9f42;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
}

.navbar .navbar-nav .active {
  border-bottom: 1px solid white;
}

.navbar .navbar-nav .nav-item a {
  color: black;
  font-weight: 600;
}

.navbar .navbar-nav .nav-item a:hover {
  /* background-color: white; */
  color: white;
}

.header-button .btn {
  margin-top: 40vh;
}

.row {
  margin: 15px;
}

#img-carousel {
  width: 600px;
  object-fit: cover;
}

.nav-link {
  cursor: pointer;
}

#nav-link-black {
  color: black;
}

#nav-link-black:hover {
  filter: invert(100%);
}

#nav-link-black1 {
  background-color: #0b6e4f;
  border-width: 0;
  color: white;
}

#nav-link-black1:hover {
  background-color: white;
  color: black;
}

#reserve-now {
  background-color: #0b6e4f;
  border-width: 0;
}

#reserve-now:hover {
  background-color: white;
  color: black;
  border-width: 0;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
}

.social-icon a {
  margin: 0 16px 20px 16px;
  display: inline-block;
}

.social-icon .fa {
  color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: lightgray;
  line-height: 3;
  transition: 0.3s;
  opacity: 100%;
  /* border: 10px solid lightgray; */
  background-color: #fa9f42;
}

.social-icon a:hover .fa {
  background-color: #0b6e4f;
  color: white;
}

.bordernow {
  width: 80px;
  border-bottom: 2px solid white;
  margin: 0 auto;
  margin-top: 20px;
}

#make-a-reservation {
  color: #0b6e4f;
  border-style: solid;
  border-color: #0b6e4f;
  background-color: white;
}

#make-a-reservation:hover {
  color: white;
  background-color: #0b6e4f;
  border: 1px solid #0b6e4f;
}
